.wrapper {
  background-color: #f9f9f9;
  width: 100%;
}

.hero-wrapper {
  background: linear-gradient(to bottom, $purple-alt 0%, $purple 100%);
  padding: 0 20px 40px;
  width: 100%;
}

.hero-container {
  color: #fff;
  overflow: hidden;
}

.hero-header {
  font-family: $base-font-family;
  font-size: 4.2rem;
  font-weight: 200;
  line-height: 1.2;
  margin: 45px 0 90px;
  text-align: center;

  @include susy-breakpoint($tablet) {
    font-size: 6.2rem;
  }
}

.hero-sub {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 0 0 120px;
  text-align: center;
  text-transform: uppercase;

  @include susy-breakpoint($tablet) {
    font-size: 3.2rem;
  }
}

.hero-example {
  @include span(8);
  @include pre(2);
  @include post(2);
  overflow: hidden;
  margin-bottom: 60px;

  @include susy-breakpoint($tablet) {
    @include span(4);
    @include pre(4);
    @include post(4);
  }

  @include susy-breakpoint($desktop + 1) {
    @include span(2);
    @include pre(5);
    @include post(5);
  }
}

.scale {
  display: inline-block;
  animation-name: scaleIn;
  animation-duration: .5s;
  animation-delay: 1s;
}

@keyframes scaleIn {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

.ex-box {
  float: left;
  font-size: 2.2rem;
  width: 50%;

  > div:first-child {
    margin-bottom: 13px;
  }
}

.original-text,
.replace-text {
  font-weight: 600;
  padding-left: gutter(1);
}

.email {
  color: $green;
  font-size: 1.4rem;
  text-align: center;

  a {
    color: $green;
    text-decoration: underline;
  }

  @include susy-breakpoint($tablet) {
    font-size: 1.8rem;
  }
}

.install {
  padding: 50px 0 100px;
  text-align: center;

  p {
    margin: 0;
  }
}

.chrome-webstore {
  margin-top: 30px;
  width: 200px;
}

.typed-cursor{
    opacity: 1;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.page-wrapper {
  overflow: hidden;
  padding: 0 20px;
}

.page-box {
  margin-bottom: 30px;

  @include susy-breakpoint($tablet) {
    @include span(8);
    @include pre(2);
    @include post(2);
    margin-bottom: 75px;
  }

  @include susy-breakpoint($desktop) {
    @include span(6);
    @include pre(3);
    @include post(3);
  }
}

.page-heading {
  font-weight: 700;

  @include susy-breakpoint($tablet) {
    font-size: 3rem;
    margin: 0 0 30px;
    text-align: center;
  }
}

.testimonial {
  @extend %shadow-0;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 30px;
  padding: 50px 20px 30px;

  @include susy-breakpoint($tablet) {
    padding: 75px 30px 30px;
  }
}

.testimonial-pic {
  border-radius: 50%;
  display: block;
  height: 50px;
  margin: 0 auto;
  position: relative;
  top: 25px;
  width: 50px;

  @include susy-breakpoint($tablet) {
    height: 100px;
    top: 50px;
    width: 100px;
  }
}

.meta {
  font-style: italic;
  font-weight: 600;
  margin: 0;
  text-align: center;
}
