// Removed the front matter here that jacked the gulp process
@charset "utf-8";

// Set base font-size to use 16px
$rem-percentage:  percentage(10 / 16);

// Font stuff
$base-font-family: 'Source Sans Pro', sans-serif;
$alt-font-family: 'Muli', sans-serif;
$monospace: 'Courier New', Courier, monospace;
$base-font-size:   1.6rem;
$small-font-size:  $base-font-size * 0.875;
$base-font-weight: 400;
$base-line-height: 1.4;

// Colors
$black: #222;
$purple: #3A276A;
$purple-alt: #7047A3;
$green: #86D8DC;
$green-alt: #C8F0F0;

$grey-color:       #555;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Shadows
%shadow-0 {
  box-shadow: 0 1px 2px rgba(0,0,0,.1),
              0 0 0 0 rgba(152,85,194,.1);
}

%shadow-1 {
  box-shadow: 0 3px 8px rgba(0,0,0,.16),
              0 1px 3px 0 rgba(152,85,194,.2);
}

%shadow-2 {
  box-shadow: 0 4px 12px rgba(0,0,0,.2),
              0 2px 8px rgba(152,85,194,.2);
}

%shadow-3 {
  box-shadow: 0 8px 24px rgba(0,0,0,.2),
              0 2px 10px rgba(152,85,194,.2);
}

$spacing-unit: 30px;

$mobile: 500px;
$tablet: 768px;
$desktop: 1024px;
$xl: 1224px;

$susy: (
        columns: 12,
        global-box-sizing: border-box,
);

// Imports
@import "normalize";
@import "../node_modules/susy/sass/_susy.scss";
@import "base";
@import "syntax-highlighting";
@import "layout";
